.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 180px;
    padding-top:0px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    background-color: white;
}
.todoheading{
    text-align: center;
    display: flex;
    align-items: center;
    color:rgb(26, 26, 89);
}
.icon{
    
}
.addbtn{
    border-radius: 0px 15px 15px 0px !important; 
    padding:15px !important;
    margin:0 !important;
    background: #ffffff;
    cursor: pointer;
}
.textfield{
    border-radius: 15px 0px 0px 15px;
    padding:15px;
}
.todoheading{
    
}
.list{
    display:flex;
    align-items: center;

}
.deletebtn {
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  height: 45px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.deletebtn:hover,.addbtn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
@media (min-width: 300px)and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
        padding: 50px;
        padding-top:0px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        width: fit-content;
    }
    .todoheading{
        text-align: center;
        display: flex;
        align-items: center;
        color:rgb(26, 26, 89);
    }
    .addbtn{
        border-radius: 0px 15px 15px 0px !important; 
        padding:15px !important;
        margin:0 !important;
        background: #ffffff;
        cursor: pointer;
    }
    .textfield{
        border-radius: 15px 0px 0px 15px;
        padding:15px;
    }
    form{
        display: flex;
    }
    .list{
        display:flex;
        align-items: center;
    
    }
    .deletebtn {
      background-color: white;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      color: #3B3B3B;
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      font-weight: 600;
      margin: 10px;
      padding: 10px;
      height: 45px;
      text-align: center;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }
    
    .deletebtn:hover,.addbtn:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    }
}